@import url('base9.css');
body{
	background-color: #F5F5F5;
}
.header{
	width: 100%;
	height: auto;
}
.header .header-top{
	width: 100%;
	height: 164px;
	background-color: black;
}
.header .header-top .row{
	width: 100%;
	height: 55px;
	padding-top: 30px;
    padding-bottom: 20px;
    background-image: url('../img/top1.jpg');
}
.header .header-top .row .center{
	width: 1180px;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.header .header-top .row .center .center-left{
	width: 33.333333333%;
	height: 50px;
	float: left;
}
.header .header-top .row .center .center-left .left-one{
	margin-left: 20px;
	width: 100%;
	height: 100%;
}
.header .header-top .row .center .center-left .left-one a{
	display: block;
	width: 215px;
	height: 50px;
}
.header .header-top .row .center .center-right{
	width: 66.66666666%;
	height: 55px;
	float: left;
}
.header .header-top .row .center .center-right .right-center{
	width: 100%;
	height: 35px;
	box-sizing: border-box;
	margin-top: 20px;
	display: flex;
}
.header .header-top .row .center .center-right .right-center .right-center-left{
	width: 59%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}
.header .header-top .row .center .center-right .right-center .right-center-left a{
	font-size: 12px;
    line-height: 35px;
    display: block;
    margin-left: 10px;
    color: #fff;
}
.header .header-top .row .center .center-right .right-center .right-center-right{
	width: 41%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .header-top .row .center .center-right .right-center .right-center-right input{
	width: 258px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding-left: 10px;
}
.header .header-top .row .center .center-right .right-center .right-center-right a{
	display: block;
	width: 45px;
	height: 35px;
	margin-left: 10px;
	line-height: 35px;
	border-radius: 5px;
	background-color: #d20001;
	color: #fff;
    text-align: center;
}
.header .header-top .row .center .center-right .right-center .right-center-right .input:focus{
	outline: none;
} 
.header .header-top .lie{
	width: 100%;
	height: 59px;
	background-color: #a41515;
}
.header .header-top .lie .span{
	width: 1200px;
	height: 39px;
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
}
.header .header-top .lie .span a{
	display: inline-block;
	width: 96px;
	height: 35px;
	padding: 2px 5px;
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	text-align: center;
}
.header .header-top .lie .span a:last-child{
	background-color: #930000;
}
.header .header-top .lie .span a:hover{
	background-color: #930000;
}
.main{
	width: 100%;
	height: 630px;
	position: relative;
	left: 0;
	top: 0;
	/* transform: scale(1); */
}
.main .row{
	width: 1903px;
	height: 630.34px;
	margin: 0 auto;
}
.main .wrapper{
	width: 100%;
	height: 630px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.main .wrapper  a{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.main .wrapper a img{
	width: 100%;
	height: 100%;
	transform: scale(1);
}
.main .bottom{
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
	overflow: hidden;
}
.main .bottom .con a{
	margin: 0 6px;
    width: 11px;
    height: 11px;
    text-align: left;
    background-color: #666;
    border-radius: 50%;
    display: block;
}
.main .bottom .con:hover a{
	background-color: #fff;
}
.main:hover .flex li a{
	opacity: 0.7;
}
.main:hover .flex li a:hover{
	background-color: #282002;
}
.main .flex li a::after{
	width: 12px;
    height: 12px;
    display: block;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    content: "";
    transform: rotate(225deg);
    margin: 0 auto;
    margin-top: 12px;
}
.main .flex .s a{
	position: absolute;
	left: 14px;
	top: 315px;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #C6C6C6;
	 opacity: 0;
	 border-radius: 50%;
}
.main .flex .i a{
	position: absolute;
	right: 14px;
	top: 315px;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #C6C6C6;
	 opacity: 0;
	 border-radius: 50%;
}
.main .flex .i a::after{
	width: 12px;
    height: 12px;
    display: block;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    opacity: 0.7;
    content: "";
    transform: rotate(45deg);
}
.section{
	width: 100%;
	height: 152px;
}
.section .s-one{
	padding: 20px 0;
	width: 100%;
	height: 20px;
	background-color: #B41312;
}
.section .s-one .drag{
	width: 560px;
	height: 22px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
}
.section .s-one .drag .d-son{
	width: 140px;
	height: 21px;
	font-size: 14px;
}
.section .s-one .drag .d-son .b{
	width: 125px;
	margin-left: 15px;
	display: flex;
}
.section .s-one .drag .d-son .b .d-son-right{
	margin-left: 10px;
}
.section .s-one .drag .d-son .b .d-son-right a{
	color: #fff;
}
.section .s-two{
	width: 100%;
	height: 2px;
	padding: 20px 0;
}.section .s-three{
	width: 100%;
	height: 18px;
	padding-bottom: 30px;
	font-size: 12px;
}
.section .s-three .three-ce{
	width: 420px;
	height: 18px;
	margin: 0 auto;
	display: flex;
}
.section .s-three .three-ce .span1{
	width: 69.98px;
	height: 18px;
}
.section .s-three .three-ce .span1 a{
	color: #333;
}
.section .s-three .three-ce .span1 span{
	margin-left: 6px;
	color: #CCCCCC;
}
.section .s-three .three-ce .span2{
	width: 69.98px;
	height: 18px;
}
.section .s-three .three-ce .span2 span{
	margin-left: 6px;
	color: #CCCCCC;
}
.section .s-three .three-ce .span2 a{
	color: #333;
}
.section .s-three .three-ce .span3{
	width: 279.98px;
	height: 18px;
}